form {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: safe;
    height: 100%;
}

input {
    position: relative;
    flex: 1;
    border-radius: 1em / 3em;
}

button {
    width: 2rem;
}