<div class="row">
    <div class="container">
      <h1>Formulario </h1>
      <form >
        <div class="col-lg-3 ">


          <label for="name">Nombre </label> <input type="text" class="form-control" placeholder="nombre" [value]="nombre" [(ngModel)]="nombre" name="nombre" (input)= "onChange()"> <br>
          <label for="name">Apellido </label> <input type="text" class="form-control" placeholder="apellido" [value]="apellido"  [(ngModel)]="apellido" name="apellido" (input)= "onChange()"> <br>
          <label for="fecha">Fecha Nacimiento </label> <input type="date" class="form-control" name="fecha" [value]="fechaNacimiento"  [(ngModel)]="fechaNacimiento" name="fecha" (input)= "onChange()"> <br>
          <input type="submit" class="btn btn-primary" value="Enviar"/>

          <!-- <label for="name">Nombre </label> <input type="text" class="form-control" placeholder="nombre" [value]="nombre" [(ngModel)]="nombre" name="nombre" (input)="onChange($event)"> <br>
          <label for="name">Apellido </label> <input type="text" class="form-control" placeholder="apellido" [value]="apellido"  [(ngModel)]="apellido" name="apellido"> <br>
          <label for="fecha">Fecha Nacimiento </label> <input type="date" class="form-control" name="fecha" [value]="fechaNacimiento"  [(ngModel)]="fechaNacimiento" name="fecha"> <br>
          <input type="submit" class="btn btn-primary" value="Enviar"/>
 -->
          <!-- <label for="name">Nombre </label> <input type="text" class="form-control"  placeholder="nombre" [value]="nombre" (input)="onNameChanged($event)"> <br>
          <label for="name">Apellido </label> <input type="text" class="form-control" placeholder="apellido" [value]="apellido" (input)="onApellidoChanged($event)"> <br>
          <label for="fecha">Fecha Nacimiento </label> <input type="date" class="form-control"  [value]="fechaNacimiento" (input)="onFechaNacimientoChanged($event)"> <br>
          <input type="submit" class="btn btn-primary" value="Enviar"/> -->
        </div>
      </form>
    </div>
  </div>

  <div>{{formularioServicioService.nombre}}  {{apellido}}  nació en : {{fechaNacimiento}} </div>
  