    
  <label>Nombre</label>
  <br>
  <input   placeholder="nombre" [value]="name" (change)="onNameChanged($event)">
  <br>
  <label>Apellido</label>
  <br>
  <input   placeholder="apellido" [value]="lastname" (change)="onLastnameChanged($event)">
  <br>
  <label for="start">Fecha de nacimiento:</label>
  <br>
  <input type="date" placeholder="fecha-nacimiento" [value]="birthdate" (change)="onBirthdateChanged($event)">
    
  {{name}} {{lastname}} nació en {{birthdate}}

  <br>
  <br>
  <app-test></app-test>
  