<!--
<h2>{{parentName}} {{parentLastname}} nació el: {{parentBirthdate}}</h2>
  
  <app-test 
  [name]="parentName"
  [lastname]="parentLastname"
  [birthdate]="parentBirthdate"
  (valueChangedName) = "onNameChanged($event)"
  (valueChangedLastName) = "onLastnameChanged($event)"
  (valueChangedBirthDate) = "onBirthdateChanged($event)"></app-test>
--> 
<header>
  <nav>
    <a [routerLink]="['Chat']">Chat</a>
    <br>
    <a [routerLink]="['personal-data']">Personal Data</a>
  </nav>
</header>
<router-outlet></router-outlet>

