
<!-- <app-formulario-component [nombre]=parentNombre [apellido]=parentApellido [fechaNacimiento]=parentFechaNacimiento (onValueChange)="onChange($event)"></app-formulario-component> -->
 <app-formulario-component></app-formulario-component>

 {{parentNombre}}

<!-- <div class="container">
 -->
 <!--  <app-personal-chat (onValueChange)="onChange($event)"></app-personal-chat>
  <app-personal-chat-respuesta [mensajes] = "parentMensajes"></app-personal-chat-respuesta>    -->

 <!--  <app-personal-chat></app-personal-chat>
  <app-personal-chat-respuesta></app-personal-chat-respuesta>   

</div>
 -->



