<form (submit)="enviar()">
    <div class="form-group">
        <label for="txtNombre">Name:</label><br>  
        <input type="text" id="txtNombre" name="txtNombre" [(ngModel)]="persona.name" ><br>
        <label for="txtLastname">Last Name:</label><br>  
        <input type="text" id="txtLastname" name="txtLastname" [(ngModel)]="persona.lastname" ><br>
        <label for="dateBirthdate">Birthdate:</label><br>  
        <input type="date" id="dateBirthdate" name="dateBirthdate" [(ngModel)]="persona.birthdate" ><br>
    </div>
    <button class="btn btn-primary">Send</button>
</form>
