<div class="row  justify-content-center align-items-center">
  <div class="col-auto  p-5">   
  <label>Nombre</label>
  <br>
  <input   placeholder="nombre" [(ngModel)]="name" (input)="onChangedName($event)">
  <br>
  <label>Apellido</label>
  <br>
  <input   placeholder="apellido" [(ngModel)]="lastname" (input)="onChangedLastName($event)">
  <br>
  <label for="start">Fecha de nacimiento:</label>
  <br>
  <input type="date" placeholder="fecha-nacimiento" [(ngModel)]="birthdate" (input)="onChangedBirthDate($event)">
  <br>
  <br>
  <h5>
  {{name}} {{lastname}} nació en {{birthdate}}
</h5>
</div>
</div>
 