<article class="form mat-typography">
  <div class="form-field">
    <label for="name">Nombre</label>
    <input id="name" [value]="name" type="text" (change)="nameChanged($event)">
  </div>
  <div class="form-field">
    <label for="lastname">Apellido</label>
    <input id="lastname" [value]="lastname" type="text" (change)="lastChanged($event)">
  </div>
  <div class="form-field">
    <label for="birthdate">Fecha de nacimiento</label>
    <input id="birthdate" [value]="birthDate" type="date" (change)="birthDateChanged($event)">
  </div>
</article>

<section class="show">
  <span *ngIf="name && lastname">
    Hola, {{ name | titlecase }} {{ lastname | titlecase }}
  </span>
  <span *ngIf="birthDate">
    {{ birthDate | date }}
  </span>
</section>
