<article class="form mat-typography">
  <div class="form-field">
    <label for="name">Nombre</label>
    <input id="name" [(ngModel)]="name" type="text" (input)="onChange($event)">
  </div>
  <div class="form-field">
    <label for="lastname">Apellido</label>
    <input id="lastname" [(ngModel)]="lastname" type="text">
  </div>
  <div class="form-field">
    <label for="birthdate">Fecha de nacimiento</label>
    <input id="birthdate" [(ngModel)]="birthDate" type="date">
  </div>
</article>

<section class="show">
  <span *ngIf="name && lastname">
    Hola, {{ name | titlecase }} {{ lastname | titlecase }}
  </span>
  <span *ngIf="birthDate">
    Tu fecha de nacimiento es: {{ birthDate }}
  </span>
</section>
