<!--
Nombre
Apellido
Fecha Nacimiento
Genero
Usuario
Contraseña
-->

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
            <label for="Apellido">Apellido</label>
            <input type="text" class="form-control" id="Apellido" placeholder="Apellido">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="birthdate">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="birthdate" placeholder="Fecha Nacimiento">
        </div>
        <div class="form-group col-md-6">
            <label for="inputGenero">Genero</label>
            <select id="inputGenero" class="form-control">
                <option selected></option>
                <option>Masculino</option>
                <option>Femenino</option>
            </select>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Usuario">Usuario</label>
            <input type="text" class="form-control" id="Usuario" placeholder="Usuario">
        </div>
        <div class="form-group col-md-6">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>