<form [formGroup]="miFormulario" (submit)="submit($event)">
    <label>
        Nombre
        <input type="input" formControlName="nombre">
    </label>
    <ng-container *ngIf="miFormulario.get('nombre')?.dirty">
        <p *ngIf="miFormulario.get('nombre')?.errors?.required">
            Este campo es obligatorio
        </p>
        <p *ngIf="miFormulario.get('nombre')?.errors?.minLength">
            El valor minimo es incorrecto
        </p>
        <p *ngIf="miFormulario.get('nombre')?.errors?.maxLength">
            El valor maximo es incorrecto
        </p>
    </ng-container>
    <br>
    <label>
        Apellido
        <input type="input" formControlName="apellido">
    </label>
    <ng-container *ngIf="miFormulario.get('apellido')?.dirty">
        <p *ngIf="miFormulario.get('apellido')?.errors?.required">
            Este campo es obligatorio
        </p>
        <p *ngIf="miFormulario.get('apellido')?.errors?.minLength">
            El valor minimo es incorrecto
        </p>
        <p *ngIf="miFormulario.get('apellido')?.errors?.maxLength">
            El valor maximo es incorrecto
        </p>
    </ng-container>
    <br>
    <label>
        Usuario
        <input type="email" formControlName="usuario">
    </label>
    <ng-container *ngIf="miFormulario.get('usuario')?.dirty">
        <p *ngIf="miFormulario.get('usuario')?.errors?.required">
            Este campo es obligatorio
        </p>
        <p *ngIf="miFormulario.get('usuario')?.errors?.email">
            Ingresa un email valido
        </p>
        <p *ngIf="miFormulario.get('usuario')?.errors?.pattern">
            El dominio del correo es incorrecto
        </p>
        <p *ngIf="miFormulario.get('usuario')?.errors?.minLength">
            El valor minimo es incorrecto
        </p>
        <p *ngIf="miFormulario.get('usuario')?.errors?.maxLength">
            El valor maximo es incorrecto
        </p>
    </ng-container>
    <br>
    <label>
        Contraseña
        <input type="password" formControlName="password">
    </label>
    <ng-container *ngIf="miFormulario.get('password')?.dirty">
        <p *ngIf="miFormulario.get('password')?.errors?.required">
            Este campo es obligatorio
        </p>
        <p *ngIf="miFormulario.get('password')?.errors?.minLength">
            El valor minimo es incorrecto
        </p>
        <p *ngIf="miFormulario.get('password')?.errors?.maxLength">
            El valor maximo es incorrecto
        </p>
    </ng-container>
    <br>
    <button [disabled]="miFormulario.invalid" type="submit">Iniciar Sesión</button>
</form>	