<form action="/action_page.php">
    <label for="fname">Nombre:</label><br>
    <input type="text" id="fname" name="fname" [value]="name" (change)="onNameChanged($event)"><br>
    <label for="lname">Apellido:</label><br>
    <input type="text" id="lname" name="lname" [value]="lastname" (change)="onLastnameChanged($event)"><br><br>
    <label for="borndate">Fecha de Nacimiento:</label><br>
    <input type="date" id="birthdate" [name]="birthdate" (change)="onBirthdateChanged($event)"><br><br>
    <input type="submit" value="Submit">
  </form> 
  <br>  
  <h3>{{lastname}} , {{name}} nació el {{birthdate}}</h3>
